@font-face {
    font-family: font;
    src: url(font.ttf);
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(0, 0, 0);
}
h1 {
    font-size: 40px;
    color: ghostwhite;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.stopwatch {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.timer {
    position: absolute;
    border: 2px solid black;
    width: 900px;
    height: 300px;
    background-color: rgb(151, 144, 144);
    box-shadow: 8px 8px 10px rgb(41, 41, 41);
}

.inside {
    position: absolute;
    
    
    
    width: 800px;
    height: 170px;
    color: #FF3131;
    margin: 2% 5%;
    background-color: rgb(2, 1, 1);
    border: 5px solid black
}

.clock1 {
    font-family: font;
    font-size: 175px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.clock2 {
    font-family: font;
    font-size: 175px;
    position: absolute;
    top: 5%;
    left: 35%;
}

.clock3 {
    font-family: font;
    font-size: 175px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.button1 {
    position: absolute;
    border: 2px solid #FF3131;
    width: 200px;
    height: 80px;
    bottom: 5.3%;
    cursor: pointer;
    outline: none;
    left: 5%;
    color: white;
    font-family: font;
    font-size: 40px;
    border-radius: 10px;
    background-color: #000000;
}
.button1 {
    position: absolute;
    border: 2px solid #FF3131;
    width: 200px;
    height: 80px;
    bottom: 5.3%;
    cursor: pointer;
    outline: none;
    left: 5%;
    color: white;
    font-family: font;
    font-size: 40px;
    border-radius: 10px;
    background-color: #000000;
}

.button2 {
    position: absolute;
    border: 2px solid #FF3131;
    width: 200px;
    height: 80px;
    bottom: 5.3%;
    font-family: font;
    color: white;
    cursor: pointer;
    outline: none;
    left: 40%;
    font-size: 40px;
    border-radius: 10px;
    background-color: #0e0909;
}
.button3 {
    position: absolute;
    border: 2px solid #FF3131;
    width: 200px;
    height: 80px;
    bottom: 5%;
    color: white;
    font-family: font;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    right: 5%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}
